body {
    background-color: lightgray;
    font-family: Verdana;
    font-size: 120%
}

h1 {
    color: blue;
    text-align: center;

}

p {
    font-size: 18px;
    color: black;
    text-decoration: indigo;
}

img, video {
    width: 300px;
    height: auto;
    display: block;

    border: 1px solid black;
    border-radius: 10px;
}


img {
    margin: 0 auto;
}
.grosse_div {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(212, 248, 111);
    padding: 20px;

    display: flex;           
    justify-content: center; 
    gap: 50px;              /* espace entre enfants */
    align-items: flex-start; /* aligne les enfants en haut */
    flex-wrap: wrap;         /* passe à la ligne si l’écran est trop petit */

    transition: background-color 0.5s ease;    
    /*animation: bgChange 9s infinite; */
}
.grosse_div:hover {
    
    animation: hoverColors 6s infinite;/* 3 couleurs × 2s = 6s total */
}

/* Définition de l’animation */
@keyframes hoverColors {
    0%   { background-color:rgb(212, 248, 111); }
    33%  { background-color: rgb(248, 111, 212); }
    66%  { background-color: rgb(212, 111, 248); }
    100% { background-color: rgb(212, 248, 111); }
}

/* Keyframes pour changer la couleur 
@keyframes bgChange {
    0% { background-color: rgb(212, 248, 111); }
    33% { background-color: rgb(111, 248, 212); }
    66% { background-color: rgb(248, 111, 212); }
    100% { background-color: rgb(212, 248, 111); }
}
*/
.tiktok, .formulaireTest, .chienp {
    background-color: rgb(158, 156, 156);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    width: max-content;        /* largeur selon le contenu */
    height: auto;
    box-sizing: border-box;    /* inclut padding dans la largeur */
    /* transition pour un effet doux */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Effet au survol */
.tiktok:hover, .formulaireTest:hover, .chienp:hover {
    transform: scale(1.1);       /* grossit de 10% */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* ajoute une ombre */
    cursor: pointer;             /* change le curseur */
}


.chienp p{
    text-align: center;

}

hr{
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 30px; 

    
    
}

